In [ ]:
#1.def greetings(name):
def greetings(name):
  return print("hellow",name)

greetings("nitish")

hellow nitish

In [ ]:
#2. write a python program to check if a number is prime

def  is_prime (num):
    if num <=1:
      return False

    elif  num>=2:
      for i in range(2,int( num**0.5)+1):
        if num%i==0:
          return False

    return True


num = int(input("enter the number"))

if is_prime(num)==True:
  print("number is prime")
else:
  print("number is not prime")

enter the number64
number is not prime

In [ ]:
#3. finding the fectorial of a number

def fectorial( num):
  if num == 0:
    '''this this is required bcs whenever we will run this code it will keep on
    calling the other fectorials at the time of
                   it calls the fectorial of 0 which means number is 1
                    '''
    return 1
  else:
   return num*(fectorial(num-1))

fectorial(4)

24

In [ ]:
# 4. return the maximun number from a list

def max_num(a):
  max=0
  for i in a:
    if i >max:
      max=i
      i+=1

  return max
max_num([2,18,43,54])

54

In [ ]:
# 5.CHECKING a string is penindrome or not

def check(a):
  for i in range(len(a) // 2):
    if a[i] != a[len(a) - 1 - i]:
      return False
  return True

a = input("enter the string")
if check(a):
  print("its a penindrome")
else:
  print("its not a penindrome")

enter the stringkanak
its a penindrome

                    #########    LAMBDA EXPENSION      #########

In [ ]:
#1. use the lambda expension for squaring of number

sq = lambda x:x**2
sq(4)

16

In [ ]:

#.2 check if a number is evn or not

check = lambda x: True if x%2==0 else False

x = int(input("enter the number to be checked"))

if check(x):
  print(f"{x}is even")

enter the number to be checked234
234is even

In [ ]:
#3. write a python program to extract the last charecter of a string

last = lambda a :a[len(a)-1]

last("nitish")

'h'

In [ ]:
#4. wite a python program to get multiplication of number

multi = lambda x,y:x*y

x=int(input("enter the first number"))
y = int(input("enter the second number"))
print(f"the product of {x},{y}={multi(x,y)}")

enter the first number3
enter the second number4
the product of 3,4=12

In [ ]:
#5. write a python progrm to return maximum of two numbers using lambda

max = lambda x,y:x if x>y else y
max(2,4)

4

               ###########       MAP FUNCTION     ##########

In [ ]:
# 1. write a python program to square all elements in a list


l = [ 2,4,5,6,7]
sq = lambda x : x**2
list(map(sq, l))

[4, 16, 25, 36, 49]

In [ ]:
#2. convering a list of string into uppercase


def list1(a):
    return a.upper()

a = input("Enter the list of strings:").split(',')

result = list(map(list1, a))
print(result)

Enter the list of strings:nitish,kuush,garima
['NITISH', 'KUUSH', 'GARIMA']

In [ ]:
# 3. finding the cubes of numbers of a list
x=[1,2,3,4,5]
cube = lambda x: x**3
list(map(cube,x))

[1, 8, 27, 64, 125]

In [ ]:
#4. compute the length of each word in a list
l = [  'nitish', "ayush", "garima","nitish"]
def length(a):
    return  print(len(a))


tuple(map(length,l))

6
5
6
6

(None, None, None, None)

In [ ]:
#5.increasing all elements a list by 10

list1=[2,3,4,5,6]

inc = lambda x: x+10

list(map(inc,list1))

[12, 13, 14, 15, 16]

           #######  REDUCTION  FUNCTION #####

In [ ]:
#1. WRITE A PYTHOn program to sum of alll element in a list

import functools as fn

sum = lambda x,y:x+y
l = [2,3,4,5,6,8]
fn.reduce(sum,l)

28

In [ ]:
#2. compute the product of all elements in a list
import functools as fn
l = [2,3,4,5,6,7]

product = lambda x,y : x*y
fn.reduce(product,l)

5040

In [ ]:
#3. write a python program to find the greatest common divisor of a list
import functools as fn
l = [13,26,39,52]
'''
hcf = lambda num1,num2 :nth if n2%n1 .......
we cannt apply lambda expension for this much of tough code

'''

def hcf(n1,n2):
  while n2 !=0:
    nth = n1%n2
    n1 = n2
    n2=nth

  return n1



fn.reduce (lambda a,b : hcf(a,b) ,l)

13